@import "colors/colors";

body{
  margin: 0;
  padding:0;
  background-color:#DCDCDC;
}


//leftSideNav

  @import "scssGcomponent/Leftsidenav";

//leftSideNav

//rightSideNav

  @import "scssGcomponent/rightSideNav";

//rightSideNav

//main_body

  @import "scssGcomponent/main_body";

//main_body