.sidenav{
  position: fixed;
  top: 0;
  z-index: 1;
  height: 100vh;
  border: 2px solid #f8f9fa;
    .nav_logo{
      position: relative;
      padding-top: 15px;
      a{
        img{
          width: 35px;
          border-radius: 50%;
        }
      }
    }
  .nav{

    .nav-item{
      position: relative;
      margin-top: 17px;
      top: 20px;
      .nav-link{
        img{
            width: 25px;
          }
        }
        i{
          cursor: pointer;
          color: $grey;
          font-size: 38px;
        }
      i:hover{
        color: $red;
        transition: .3s;
        opacity: .8;
      }
    }
  }
}