.sidenav{
  height: 75px;
  width: 5%;
  z-index: 1;
    .nav_logo{
      background-color:$light;
      a{

        img{
          width: 30px;
          margin-top: 20px;
          margin-bottom: 10px;
          border-radius: 50%;
        }
      }
    }
    
    .nav{
      background-color: $light;
      height: 90vh;
      .nav-item{
        .nav-link{
          img{
            width: 30px;
          }
        }
      }
    }
}
@media screen and (max-width:980px){
  .sidenav{
    height: 12.3vh;
      .nav{
        display: none;
      }
  }
}
@media screen and (min-width:981px){
  .sidenav{
    height: 12.3vh;
      .nav{
        display: block !important;
      }
  }
}
@media screen and (max-width:720px){
  .sidenav{
    display: none;
  }
}
@media screen and (max-width:440px){
  .sidenav{
    height: 16vh;
    .nav{
      display: none;
    }
  }
}
@media screen and (min-width:721px){
  .sidenav{
    display: block !important;
  }
}