::-webkit-scrollbar{
  display: none;
}
.main_body{
  width: 73.5%;
  position: relative;
  left: 4.5%;
  display: flex;
  @media screen and (max-width:980px){
    width: 100%;
    position: relative;
    left: 0;
  }
    .chat_boxs{
      
      height: 100vh;
        .search-box{
          height: 12.3vh;
          background-color: $light;
         
          form{
            
            .form-group{
              padding-top: 20px;
              display: flex;
              flex-wrap: wrap;
                input{
                  width: 70%;
                  background-color: $light;
                  height: 30px;
                  border: none;
                  padding-left: 20px;
                  color: $greyish;
                  border-left: 2px solid $greyish ;
                  outline: none;
                }
            }
          }
        }
        @media screen and (max-width:980px){
          .search-box{
            form{
              width: 80%;
              margin-left: 60px;
            }
          }
        }
      .chat_list{
       
        height: 87vh;
        width: 380px;
        overflow: scroll;
        @media screen and (max-width:980px){
          width: 330px;
        }
        .box{
          border: 1px solid red;
          cursor: pointer;
          display: flex;
          flex-wrap: wrap;
          border: 1px solid $light;
          background-color: whitesmoke;
          border-radius:5px;
          width: 350px;
          margin-left: 15px;
          margin-top: 15px;
          margin-bottom: 15px;
          padding:20px;
          transition: .2s;
          .image{
                width: 20%;
                img{
                  width: 60px;
                  height: 60px;
                  border-radius:50%;
                  object-fit: cover;
                  object-position: center;
                }
              }
              @media screen and (max-width:980px){
                .image{
                  width: 15%;
                    img{
                      width: 50px;
                      height: 50px;
                    }
                }
              }
          .info{
            margin-left: 4px;
            padding-left: 6px;
            width: 60%;
              p{
                font-size: 14px;
                padding-bottom: 0;
                margin-bottom: 0;
                font-weight: bold;
              }
            small{
              color: grey;
            }
          }
          @media screen and(max-width:980px){
            .info{
              margin-left: 15px;
              padding-bottom:6px;
              width: 55%;
            }
          }
          .status{
            small{
              color: $greyish;
            }
          }
          @media screen and (max-width:980px){
            .status{
              margin-left: 3px;
            }
          }
        }
        @media screen and (max-width:980px){
            .box{
              width: 300px;
            }
        }
        
        .box:hover{
          color: white;
          background-color:#2488FB;
          margin-left: 2px;
          transition: .2s;
          width: 375px;
          border: none;
          @media screen and (max-width:980px){
            width: 320px;
          }
            .info{
                p{
                  color: white;
                }
              small{
                color: white;
              }
          }
          .status{
            small{
              color: white;
            }
            p{

            }
          }
        }

      }
      @media screen and (max-width:720px){
          .chat_list{
            width: 100%;
              .box{
                width: 95%;
              }
              .box:hover{
                width: 100%;
              }
          }
      }
     

    }
    @media screen and (max-width:720px){
      .chat_boxs{
        display: none;
        width: 100%;
      }
    }
    @media screen and (min-width:721px){
      .chat_boxs{
        display: block !important;
      }
    }
  .chat{
    
    position: relative;
    width: 67.6%;
    .chat_box_header{
     
      height: 12.3vh;
      background-color:$light;
      display: flex;
      flex-wrap: wrap;
      
        .headerimage{
          .backImage{
            width: 30px;
            display: none;
          }
          @media screen and (max-width:720px){
            .backImage{
              display: block;
              position: absolute;
              left: -30px;
              top: 3%;
            }
          }
          img{
            width: 80px;
            border-radius: 50%;
          }
          @media screen and (max-width:980px){
            img{
              width: 80px;
            }
          }
          @media screen and (max-width:720px){
            img{
              margin-left: 50px;
            }
          }
          @media screen and (max-width:520px){
            img{
              width: 70px;
            }
          }
        }
        
        
      .headerInfo{
        padding-top: 10px;
          p{
            font-weight: bold;
            small{
              color: $greyish;

                i{
                  font-size: 8px;
                }

            }
          }
      }
      .headerOptions{
        
        width: 60%;
        position: relative;
        padding-top: 20px;
        font-size: 20px;
        color: $greyish;
          i{
            float: right;
            padding-left: 20px;
          }
        .fa-exclamation-circle{
          display: none;
        }
      }
      @media screen and (max-width:520px){
        .headerOptions{
          width: 50%;
        }
      }
    }
    @media screen and (max-width:520px){
      .chat_box_header{
        height: 14vh;
      }
    }
    .chat_box{
      
      margin-top: 16px;
      margin-left: 2px;
      height: 75vh;
      width: 98%;
      position: relative;

    // Received Messages

      @import "receivedMessges";

    //Received Messages

    //sent Messages

      @import "sentMessages";

    //  sent Messages
    }
    .sentMessage{
      display: flex;
      height: 8vh;
      float: right;
      width: 100%;

      .mesageoptions{
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        padding-top: 15px;
        display: flex;
        i{
          margin-left: 10px;
          font-size: 25px;
          margin-right: 5px;
        }
        background-color:white; 
        width: 29%;
      }
      form{
        width: 64%;
        background-color:white;
        input{
          height: 8vh;
          width: 100%;
          border: none;
          outline: none;
          padding-left:10px;
        }
      }
      .sentoption{
        padding-top: 4px;
        width: 6%;
        background-color:white;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        font-size: 25px;
      }
      
    }
  }
  @media screen and (max-width:720px){
    .chat{
      width: 100%;
    }
  }
  @media screen and (min-width:721px){
    .chat{
      display: block !important;
    }
  }
}


