::-webkit-scrollbar{
  display: none;
}
.main_body{
  width: 73.5%;
  position: relative;
  left: 4.5%;
  display: flex;
    .chat_boxs{
      height: 100vh;
        .search-box{
          height: 12.3vh;
          background-color: $light;
          form{

            .form-group{
              padding-top: 20px;
              display: flex;
              flex-wrap: wrap;
                input{
                  width: 70%;
                  background-color: $light;
                  height: 30px;
                  border: none;
                  padding-left: 20px;
                  color: $greyish;
                  border-left: 2px solid $greyish ;
                  outline: none;
                }
            }
          }
        }
      .chat_list{
        height: 87vh;
        width: 380px;
        overflow: scroll;
        .box{
          cursor: pointer;
          display: flex;
          flex-wrap: wrap;
          border: 1px solid $light;
          background-color: whitesmoke;
          border-radius:5px;
          width: 350px;
          margin-left: 15px;
          margin-top: 15px;
          margin-bottom: 15px;
          padding:20px;
          transition: .2s;
          .image{
                width: 20%;
                img{
                  width: 60px;
                  height: 60px;
                  border-radius:50%;
                  object-fit: cover;
                  object-position: center;
                }
              }
          .info{
            margin-left: 4px;
            padding-left: 6px;
            width: 60%;
              p{
                font-size: 14px;
                padding-bottom: 0;
                margin-bottom: 0;
                font-weight: bold;
              }
            small{
              color: grey;
            }
          }
          .status{
            small{
              color: $greyish;
            }
          }
        }
        .box:hover{
          color: white;
          background-color:#2488FB;
          margin-left: 2px;
          transition: .2s;
          width: 375px;
          border: none;
            .info{
                p{
                  color: white;
                }
              small{
                color: white;
              }
          }
          .status{
            small{
              color: white;
            }
            p{

            }
          }
        }

      }

    }
  .chat{
    position: relative;
    width: 67.6%;
    .chat_box_header{
      height: 12.3vh;
      background-color:$light;
      display: flex;
      flex-wrap: wrap;
        .headerimage{
          img{
            width: 100px;
            border-radius: 50%;
          }
        }
      .headerInfo{
        padding-top: 10px;
          p{
            font-weight: bold;
            small{
              color: $greyish;

                i{
                  font-size: 8px;
                }

            }
          }
      }
      .headerOptions{
        width: 60%;
        position: relative;
        padding-top: 20px;
        font-size: 20px;
        color: $greyish;
          i{
            float: right;
            padding-left: 20px;
          }
        .fa-exclamation-circle{
          display: none;
        }
      }
    }
    .chat_box{
      margin-top: 16px;
      margin-left: 2px;
      height: 75vh;
      width: 98%;
      position: relative;

    // Received Messages

      @import "receivedMessges";

    //Received Messages

    //sent Messages

      @import "sentMessages";

    //  sent Messages
    }
    .sentMessage{
      display: flex;
      height: 8vh;
      float: right;
      width: 100%;

      .mesageoptions{
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        padding-top: 15px;
        display: flex;
        i{
          margin-left: 10px;
          font-size: 25px;
          margin-right: 5px;
        }
        background-color:white;
        width: 29%;
      }
      form{
        width: 64%;
        background-color:white;
        input{
          height: 8vh;
          width: 100%;
          border: none;
          outline: none;
          padding-left:10px;
        }
      }
      .sentoption{
        padding-top: 4px;
        width: 6%;
        background-color:white;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        font-size: 25px;
      }
      
    }
  }
}


