.receivedmsg{
  position: absolute;
  top: 70%;
  width: 100%;
  left: 0;

  .msg{
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
    max-width: 400px;
    float: left;
    img{
      margin-top: 10px;
      margin-right: 10px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
    p{
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
      background-color: #2488FB;
      text-align: justify-all;
      color: white;
      margin-top: 12px;
      padding-left:20px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right:20px;
      margin-right: 15px;
    }

  }

}